body{
   background-image: url("images/kid1.jpg"); opacity: 1; transition: 1s opacity;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Butterfly Kids', cursive;
}
body.fade-out {
    opacity: 0;
    transition: 0.5s;
}
.glyphicon-play {
 position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    font-size: 200px;
    transition: 2s;
}
a:link {
    color:red
}
.glyphicon-play:hover{
    color: red;
    font-size: 250px;
}
.glyphicon-arrow-left{
    font-size: 50px;
}
.glyphicon-arrow-left:hover{
    font-weight: bold;
    transform: scale(1.1);
    transition: 0.5s;
}
.btn-success{
    height: 50%;width:100%;font-size:65px; color: red;
    transition: 0.5s;
}
.btn-danger{
    height: 50%;width:100%; font-size: 65px; color: blue; transition: 0.5s;
}
.btn-danger:hover
{
    font-weight: bold;
    transform: scale(1.05);
    transition: 0.5s;
}
.btn-success:hover
{
    font-weight: bold;
    transform: scale(1.05);
    transition: 0.5s;
}
.btn-default{
    width: 150px;
    height: 100px;
    font-size: 60px;
    color: red;
    border: blue solid 4px;
    font-family: 'Butterfly Kids', cursive;
}
.btn-default:hover{
    font-weight: bold;
     color: blue;
      transform: scale(1.05);
}
.btn-info{
    width: 200px;
    height: 75px;
    font-size: 30px;
    color: blue;
    border: green solid 4px;
}
.btn-info:hover{
    font-weight: bold;
    color:green;
}
img{
    position: relative; left:50px;top:20px;
    height:50%; width: 50%;
    border-radius: 50%;
}

